DATABASE="mongodb+srv://hunganhokokok0_db_user:xxxxxxxxxx@cluster0.wvdfh4d.mongodb.net/tour-management?appName=Cluster0"
MONGODB_URI_1=mongodb+srv://mthn04112009_db_user:xxxxxxxxxxxxxxxxx@cluster0.06dyyse.mongodb.net/travel_db?appName=Cluster0
JWT_SECRET=xxxxxxxxxxx

YOUR_GMAIL_ADDRESS=hunganh.okokok.0@gmail.com
GMAIL_APP_PASSWORD="xxxx xxxx xxxx xxxx"


RESEND_API_KEY=xxxxxxxxxxxxxxxxxxxxx